/*@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');*/
@font-face{
    font-family: "NordicFont";
    src: url("Norse.otf") format("opentype");
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("images/background.jpg");
}

header{
    background:white;
    padding: 20px;
}

header > h1{
    color: #24272E;
    text-align:center;
    font-family: NordicFont, sans-serif;
}

.score-board{
    margin:20px auto;
    border: 3px solid white;
    border-radius: 4px;
    width:200px;
    color:white;
    font-size:40px;
    text-align: center;
    padding: 15px 20px;
    font-family: NordicFont, sans-serif;
    position: relative;
}

.badge{
    background-color: #E2584D;
    color:white;
    font-size:14px;
    padding: 2px 10px;
    font-family: NordicFont, sans-serif;
}

#user-label{
     position: absolute;
     top:30px;
     left:-25px;
 }

#computer-label{
    position: absolute;
    top:30px;
    right:-30px;
}

.result{
    font-size:30px;
    font-color:white;
}

.result > p{
    text-align: center;
    color:white;
    font-weight: bold;
    font-family: NordicFont, sans-serif;
}

.choices{
    text-align: center;
    margin-top:40px;
}

.choice{
    padding:10px;
    margin: 0 15px;
    display: inline-block;
}

.choice > img{
    width:120px;
    height: 100px;
}

.choice > p{
    color:white;
    font-family: NordicFont, sans-serif;
}

#winning-message{
    margin:150px 0;
    font-size: 50px;
    text-align: center;
    color:white;
    font-weight: bold;
    font-family: NordicFont, sans-serif;
    display: none;
}

#action-message{
    margin-top:40px;
    font-size:15px;
    text-align: center;
    font-weight: bold;
    color:white;
    font-family: NordicFont, sans-serif;
    transition: all 0.3s ease;
}

.choice:hover{
    cursor:pointer;
    background:#5A6173;
}

.green-glow{
    border: 2px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow{
    border: 2px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}

.gray-glow{
    border: 2px solid #303338;
    box-shadow: 0 0 10px #464647;
}









